<?xml version="1.0"?>

<launch>

  <arg name="autorun" default = "false" />

  <node required="true" pkg="cartiber" type="cartiber" name="cartiber" output="screen" launch-prefix="bash -c 'sleep 3; $0 $@' ">
        <param name="xyzypr_W_L0" type="yaml"
               value="[0, 0, 0.5, -135, 00, 0,
                       0, 0, 0.7,  045, 45, 0]" />
  </node>

  <!-- Visualize -->
  <node pkg="rviz" type="rviz" name="rviz_odom" output="log" required = "true" args="-d $(find cartiber)/launch/cartiber.rviz" />

</launch>
