<?xml version="1.0"?>

<launch>

    <arg name="autorun" default="false" />

    <!-- Bag file -->
    <!-- <arg name="lidar_bag_file" value="/home/tmn/ros_ws/dev_ws/src/ctgaupro/scripts/mcd_ntu_day_01_lidars.bag"/> -->
    <arg name="lidar_bag_file" value="/home/tmn/ros_ws/dev_ws/src/ctgaupro/scripts/mcd_ntu_day_02_lidars.bag" />

    <!-- Initial pose in each sequence -->
    <arg name="xyzypr_W_L0" value="[ 49.27, 107.37, 7.62, -41,  0, 0,
                                     49.27, 107.37, 7.62, -41,  0, 0 ]" if="$(eval 'ntu_day_01' in lidar_bag_file)"/>
    <arg name="xyzypr_W_L0" value="[ 62.03, 119.61, 7.69, -134, 3, 1,
                                     62.03, 119.57, 7.69, -134, 3, 1 ]" if="$(eval 'ntu_day_02' in lidar_bag_file)"/>
                                     
    <!-- Multi-lidar motion estimation node -->
    <node required="false" pkg="ctgaupro" type="ctgaupro" name="ctgaupro" output="screen"
          launch-prefix="bash -c 'sleep 3; $0 $@' ">
          <!-- launch-prefix="gdb -ex run - -args"> -->

        <!-- Location of the prior map -->
        <param name="priormap_file"   value="/home/tmn/ros_ws/dev_ws/src/ctgaupro/scripts/mcd_ntu_priormap_downsampled.pcd" />

        <!-- Location of bag file -->
        <param name="lidar_bag_file"  value="$(arg lidar_bag_file)" />

        <!-- Total number of clouds loaded -->
        <param name="MAX_CLOUDS"      value="-1" />
        
        <!-- Time since first pointcloud to skip MAP Opt-->
        <!-- <param name="SKIPPED_TIME"    value="33.0" /> -->
        <!-- <param name="SKIPPED_TIME"    value="42.0" /> -->
        <param name="SKIPPED_TIME"    value="177.0"/>

        <param name="VIZ_ONLY"        value="0"/>
        
        <!-- Lidar topics and their settings -->
        <param name="lidar_topic"     value="['/os_cloud_node/points', '/livox/lidar']" type="yaml" />
        <param name="lidar_type"      value="['ouster', 'livox']" type="yaml" />
        <param name="stamp_time"      value="['end', 'start']" type="yaml" />

        <!-- Imu topics and their settings -->
        <!-- <param name="imu_topic"       value="['/os_cloud_node/imu']" type="yaml" /> -->

        <!-- Set to 1 to load the search for previous logs and redo -->
        <param name="resume_from_log" value="[1, 1]" type="yaml"/>

        <!-- Initial pose of each lidars-->
        <param name="xyzypr_W_L0"     value="$(arg xyzypr_W_L0)" type="yaml"/>

        <!-- Groundtruth for evaluation-->
        <param name="xtrz_gndtr"      value="[ 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0 ]" type="yaml"/>

        <!-- Leaf size to downsample priormap -->
        <param name="pmap_leaf_size"  value="0.2"   />
        <param name="cloud_ds"        value="[1.6, 0.1]" type="yaml" />
        
        <!-- GN MAP optimization params -->
        <param name="deltaT"         value="0.02204"/>
        <param name="WINDOW_SIZE"    value="5"      />
        <param name="use_ceres"      value="0"      />
        <param name="max_gniter"     value="3"      />
        <param name="lambda"         value="0.1"    />
        <param name="dxmax"          value="0.5"    />
        <param name="fixed_start"    value="-0.001" />
        <param name="fixed_end"      value="-0.001" />
        
        <param name="ds_size"        value="0.1"    />
        <param name="lidar_ds_rate"  value="8"      />
        <param name="lidar_weight"   value="50.0"   />

        <!-- Motion prior factors -->
        <param name="mpSigGa"        value="1.0"    />
        <param name="mpSigNu"        value="1.0"    />

        <!-- Extrinsic factors -->
        <param name="xtSigGa"        value="1.0"    />
        <param name="xtSigNu"        value="1.0"    />

        <!-- Loss function threshold -->
        <param name="ld_loss_thres"  value="1.0"    />
        <param name="pp_loss_thres"  value="-1.0"   />
        <param name="mp_loss_thres"  value="100.0"    />
        <param name="sm_loss_thres"  value="-1.0"   />

        <!-- Extrinsic estimation -->
        <param name="SW_CLOUDNUM"    value="6"      />
        <param name="SW_CLOUDSTEP"   value="1"      />
        <param name="max_lidarcoefs" value="1000"   />
        <param name="XTRZ_DENSITY"   value="1"      />
        <param name="min_planarity"  value="0.5"    />
        <param name="max_plane_dis"  value="0.5"    />
        
        <param name="max_outer_iter" value="3"      />
        <param name="min_inner_iter" value="10"     />
        <param name="max_inner_iter" value="40"     />
        <param name="conv_thres"     value="5"      />
        <param name="conv_dX_thres"  value="0.1"    />
        
        <param name="fix_time_begin" value="0.0"    />
        <param name="fix_time_end"   value="0.0"    />

        <!-- Log dir -->
        <param name="log_dir" value="/home/tmn/ros_ws/dev_ws/src/ctgaupro/log/lio/exp_mcdviral"/>

    </node>

    <!-- Visualize -->
    <node pkg="rviz" type="rviz" name="rviz_odom" output="log" required="true"
          args="-d $(find ctgaupro)/launch/ctgaupro_lio_mcdviral.rviz" />

</launch>