<?xml version="1.0"?>

<launch>

    <arg name="autorun" default="false" />

    <node required="true" pkg="ctgaupro" type="ctgaupro" name="ctgaupro" output="screen"
        launch-prefix="bash -c 'sleep 3; $0 $@' ">
        <param name="lidar_bag_file" value="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequencesUnzipped/ntu_day_02/ntu_day_02_mid70.bag" />
        <param name="priormap_file"  value="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PriorMap/NTUCampus/nkcamp_prior_lowres/GlobalFullMap.pcd" />
        <param name="pc_topics"      type="yaml" value="[ '/livox/lidar']"/>
        <param name="lidar_type"     type="yaml" value="[ 'livox']"/>
        <param name="xyzypr_W_L0"    type="yaml"
                                     value="[
                                             61.99, 119.58, 7.69, -134, 0, 0
                                            ]" />
        <param name="leaf_size"      value="0.2"   />
        <param name="UW_NOISE"       value="100.0" />
        <param name="UV_NOISE"       value="100.0" />
        <param name="DEBUG_STEPS"    value="0"     />
        <param name="MAX_ITER"       value="10"    />
        <param name="dXmax"          value="0.5"   />
    </node>

    <!-- Visualize -->
    <node pkg="rviz" type="rviz" name="rviz_odom" output="log" required="true"
        args="-d $(find ctgaupro)/launch/ctgaupro.rviz" />

</launch>